<select>
  {{#each availableOptions as |option|}}
    <option>{{option}}</option>
  {{else}}
    <option>I'm not listing options</option>
  {{/each}}
</select>

<hr>

<select>
  {{#each availableOptions as |opt|}}
    <option>{{opt}}</option>
  {{else}}
    <option>I'm not listing options</option>
  {{/each}}
</select>
